<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stackoverflow</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="container">
        <div class="row container-fluid top-row">
            <div class="col-3">
                <h2>Stackoverflow</h2>
            </div>
            <div class="col-6">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            </div>
            <div class="col">
                <a href="#" class="nav-link">log in</a>
            </div>
            <div class="under-link col">
                <a href="#" class="nav-link">register</a>
            </div>
        </div>

        <hr noshade>

        <div class="container-fluid">
            <div class="row">
                <div class="col-8">
                    <div class="row">
                        <div class="col-4">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-ldP-fpmc7BtAKDoYHUMSPCP7NEy1UH9SF-37MC7FHTW6_wY4wg" class="rounded img-thumbnail" alt="image not found"/>
                            <div class="qty mt-5">
                                <span class="minus bg-dark">-</span>
                                <input type="number" class="count" name="qty" value="1">
                                <span class="plus bg-dark">+</span>
                            </div>
                        </div>
                        <div class="col-8">
                            <h5>ЕСТЬ ЛИ ЖИЗНЬ НА МАРСЕ?</h5>
                                На протяжении веков люди верили что на Марсе существует цивилизация аналогичная человеческой. Многочисленные марсоходы и орбитальные станции развеяли этот миф. Но если мы не видим жителей Марса, это не означает что их нет! Возможно, Красная планета густо населена микробами и бактериями, которых исследователи пока просто не обнаружили. Есть ли примитивная жизнь на современном Марсе? Существовала ли она 4 миллиарда лет назад, когда на планете была атмосфера насыщенная кислородом и текли полноводные реки? И как скоро на Марс ступит нога человека?
                            <div class="tag">
                                Tags:
                                <a href="#">black-jack</a>
                                <a href="#">bender</a>
                            </div>
                        </div>
                    </div>
                    <hr noshade>
                    <ul>
                        <li>
                            <div class="row media">
                                <div class="col-4 mr-3">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqMp5oT4G5TnU3aFgvE6G1P8DSAeag2VQvfIXqBeAt0d3-GzHY" class="rounded img-thumbnail" alt="image not found"/>
                                    <div class="qty mt-5">
                                        <span class="minus bg-dark">-</span>
                                        <input type="number" class="count" name="qty" value="1">
                                        <span class="plus bg-dark">+</span>
                                    </div>
                                </div>
                                <div class="media-body">
                                        Ученые объявили, что обнаружили на Марсе воду в жидком состоянии. Озеро, которое они нашли, размером около 20 км. Это открытие увеличивает шансы наличия жизни на Красной планете.

Но история поисков началась еще в 1976 году, когда на Марс был отправлен спутник "Викинг" для забора первых проб грунта. Ученые их долго изучали, однако признаков жизни так и не обнаружили.

В 1984 году в Антарктике был найден метеорит марсианского происхождения, а спустя больше десяти лет ученые объявили, что нашли в нем окаменелости бактерий. Но вскоре обнаруженные следы пропали.

Несколько лет назад марсоход "Кьюриосити" нашел на планете следы метана. Находка казалась многообещающей, ведь на Земле этот газ в основном образуется в результате жизнедеятельности бактерий. И, наконец, в 2018 году ученые сделали самое громкое открытие в истории изучения планеты. Под ледяной шапкой на южном полюсе нашли подземное озеро.
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row media">
                                <div class="col-4 mr-3">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS97jQxwtaIG_y993DawRsy7Eo5Qaiss1VYAACC06yFbrHPt4qa" class="rounded img-thumbnail" alt="image not found"/>
                                    <div class="qty mt-5">
                                        <span class="minus bg-dark">-</span>
                                        <input type="number" class="count" name="qty" value="1">
                                        <span class="plus bg-dark">+</span>
                                    </div>
                                </div>
                                <div class="media-body">
                                        Проанализировав все, что собрала машина во время своей миссии, ученые пришли к выводу, что несколько миллиардов лет назад на Марсе были подходящие условия для развития хемосинтетических микроорганизмов, получающих энергию с помощью окисления неорганических веществ. Проще говоря, в одной из областей планеты, где прошел орбитальный аппарат, когда-то могло что-то жить — для этого были созданы все условия. Что это была за жизнь — специалистам еще предстоит выяснить.

Находится эта потенциально когда-то обитаемая область в марсианской коре, на глубине около четырех километров. Сейчас там жизни нет, но когда-то на этой территории содержалось достаточное количество водорода для развития микроорганизмов
                                </div>
                            </div>
                        </li>
                    </ul>
                    <hr noshade>
                    <div class="row">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">Enter your answer here</textarea>
                        <button type="button" class="btn btn-primary">Answer</button>
                    </div>
                </div>
                <div class="col align-right">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <h4>Popular tags</h4>
                            </div>
                            <div>
                                <a class="tag" href="#">coursera</a>
                                <a class="tag" href="#">python</a>
                                <a class="tag" href="#">mysql</a>
                                <a class="tag" href="#">django</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <h4>Best members</h4>
                            </div>
                            <ul class="members">
                                <li>
                                    <a href="#">Mr Freeman</a>
                                </li>
                                <li>
                                    <a href="#">Dr House</a>
                                </li>
                                <li>
                                    <a href="#">Bender</a>
                                </li>
                                <li>
                                    <a href="#">Queen Victoria</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script>
    		$(document).ready(function(){
		    $('.count').prop('disabled', true);
   			$(document).on('click','.plus',function(){
				var btn = $(this).prev();
				btn.val(parseInt(btn.val()) + 1);
    		});
        	$(document).on('click','.minus',function(){
				var btn = $(this).next();
    			btn.val(parseInt(btn.val()) - 1);

				if (btn.val() == 0) {
					btn.val(1);
				}
    	    });
 		});
    </script>
</body>
</html>